<div class="page-header">
  <h3>Msgreciever #<%= @msgreciever.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd><%= @msgreciever.host_id %></dd>

      <dt>Guest</dt>
      <dd><%= @msgreciever.guest_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/msgrecievers" class="btn btn-primary">
        Back
      </a>
      <a href="/msgrecievers/<%= @msgreciever.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_msgreciever/<%= @msgreciever.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Msgreciever has many messages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Messages
      </li>

      <% @msgreciever.messages.each do |message| %>
        <li class="list-group-item">
          <a href="/messages/<%= message.id %>">
            <%= message.sender_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/messages/<%= message.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/messages/<%= message.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_message/<%= message.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_message" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sender_id -->
      <div class="form-group">
        <label for="sender_id" class="control-label">
          Sender
        </label>

        <%= select_tag(:sender_id, options_from_collection_for_select(Msgsender.all, :id, :host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for reciever_id -->
      <div class="form-group">
        <label for="reciever_id" class="control-label">
          Reciever
        </label>

        <%= select_tag(:reciever_id, options_from_collection_for_select(Msgreciever.all, :id, :host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for msg_content -->
      <div class="form-group">
        <label for="msg_content" class="control-label">
          Msg content
        </label>

        <textarea id="msg_content" name="msg_content" placeholder="Msg content" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Message
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
