<div class="page-header">
  <h3>Guest #<%= @guest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @guest.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guests" class="btn btn-primary">
        Back
      </a>
      <a href="/guests/<%= @guest.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guest/<%= @guest.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Guest has many msgrecievers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Msgrecievers
      </li>

      <% @guest.msgrecievers.each do |msgreciever| %>
        <li class="list-group-item">
          <a href="/msgrecievers/<%= msgreciever.id %>">
            <%= msgreciever.host_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/msgrecievers/<%= msgreciever.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/msgrecievers/<%= msgreciever.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_msgreciever/<%= msgreciever.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Guest has many msgsenders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Msgsenders
      </li>

      <% @guest.msgsenders.each do |msgsender| %>
        <li class="list-group-item">
          <a href="/msgsenders/<%= msgsender.id %>">
            <%= msgsender.host_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/msgsenders/<%= msgsender.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/msgsenders/<%= msgsender.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_msgsender/<%= msgsender.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Guest has many guestreviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Guestreviews
      </li>

      <% @guest.guestreviews.each do |guestreview| %>
        <li class="list-group-item">
          <a href="/guestreviews/<%= guestreview.id %>">
            <%= guestreview.host_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/guestreviews/<%= guestreview.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/guestreviews/<%= guestreview.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_guestreview/<%= guestreview.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Guest has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @guest.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.bookmark_title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Guest has many requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requests
      </li>

      <% @guest.requests.each do |request| %>
        <li class="list-group-item">
          <a href="/requests/<%= request.id %>">
            <%= request.booking_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/requests/<%= request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/requests/<%= request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_request/<%= request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Guest has many listingreviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Listingreviews
      </li>

      <% @guest.listingreviews.each do |listingreview| %>
        <li class="list-group-item">
          <a href="/listingreviews/<%= listingreview.id %>">
            <%= listingreview.booking_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/listingreviews/<%= listingreview.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/listingreviews/<%= listingreview.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_listingreview/<%= listingreview.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
