<div class="page-header">
  <h3>Listingreview #<%= @listingreview.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Booking</dt>
      <dd>
        <% if @listingreview.booking.present? %>
          <a href="/bookings/<%= @listingreview.booking_id %>">
            <%= @listingreview.booking.listing_id %>
          </a>
        <% end %>
      </dd>

      <dt>Listing</dt>
      <dd>
        <% if @listingreview.listing.present? %>
          <a href="/listings/<%= @listingreview.listing_id %>">
            <%= @listingreview.listing.title %>
          </a>
        <% end %>
      </dd>

      <dt>Review title</dt>
      <dd><%= @listingreview.review_title %></dd>

      <dt>Accuracy</dt>
      <dd><%= @listingreview.accuracy %></dd>

      <dt>Communication</dt>
      <dd><%= @listingreview.communication %></dd>

      <dt>Cleanliness</dt>
      <dd><%= @listingreview.cleanliness %></dd>

      <dt>Location</dt>
      <dd><%= @listingreview.location %></dd>

      <dt>Checkin</dt>
      <dd><%= @listingreview.checkin %></dd>

      <dt>Value</dt>
      <dd><%= @listingreview.value %></dd>

      <dt>Review content</dt>
      <dd><%= @listingreview.review_content %></dd>

      <dt>Photos</dt>
      <dd><img src="<%= @listingreview.photos %>" class="img-responsive"></dd>

      <dt>Guest</dt>
      <dd>
        <% if @listingreview.guest.present? %>
          <a href="/guests/<%= @listingreview.guest_id %>">
            <%= @listingreview.guest.user_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listingreviews" class="btn btn-primary">
        Back
      </a>
      <a href="/listingreviews/<%= @listingreview.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listingreview/<%= @listingreview.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
