<div class="page-header">
  <h1>
    Guestreviews
    <a href="/guestreviews/new" class="btn btn-lg btn-success">New Guestreview</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Host</th>
        <th>Guest</th>
        <th>Overall rating</th>
        <th>Booking</th>
        <th>Review content</th>
        <th>Photos</th>
        <th>Actions</th>
      </tr>

      <% @guestreviews.each do |guestreview| %>
      <tr>
        <td>
          <% if guestreview.host.present? %>
            <a href="/hosts/<%= guestreview.host.id %>">
              <%= guestreview.host.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if guestreview.guest.present? %>
            <a href="/guests/<%= guestreview.guest.id %>">
              <%= guestreview.guest.user_id %>
            </a>
          <% end %>
        </td>
        <td><%= guestreview.overall_rating %></td>
        <td>
          <% if guestreview.booking.present? %>
            <a href="/bookings/<%= guestreview.booking.id %>">
              <%= guestreview.booking.listing_id %>
            </a>
          <% end %>
        </td>
        <td><%= guestreview.review_content %></td>
        <td><img src='<%= guestreview.photos %>' class='img-responsive'></td>
        <td>
          <a href="/guestreviews/<%= guestreview.id %>" class="btn btn-primary">Show</a>
          <a href="/guestreviews/<%= guestreview.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_guestreview/<%= guestreview.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @guestreviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
