<div class="page-header">
  <h3>Guestreview #<%= @guestreview.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>
        <% if @guestreview.host.present? %>
          <a href="/hosts/<%= @guestreview.host_id %>">
            <%= @guestreview.host.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Guest</dt>
      <dd>
        <% if @guestreview.guest.present? %>
          <a href="/guests/<%= @guestreview.guest_id %>">
            <%= @guestreview.guest.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Overall rating</dt>
      <dd><%= @guestreview.overall_rating %></dd>

      <dt>Booking</dt>
      <dd>
        <% if @guestreview.booking.present? %>
          <a href="/bookings/<%= @guestreview.booking_id %>">
            <%= @guestreview.booking.listing_id %>
          </a>
        <% end %>
      </dd>

      <dt>Review content</dt>
      <dd><%= @guestreview.review_content %></dd>

      <dt>Photos</dt>
      <dd><img src="<%= @guestreview.photos %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guestreviews" class="btn btn-primary">
        Back
      </a>
      <a href="/guestreviews/<%= @guestreview.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guestreview/<%= @guestreview.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
